.main2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 140px); /* Trừ phần header và footer */
    background-color: #ffffff;
}

.main2 h1 {
    font-size: 48px;
    text-align: center;
    background-color: #f5fbfa;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    color: #333;
    max-width: 900px;
    width: 100%;
}
