<html>
    <head>
        <title>Trang chủ</title>
        <link rel="stylesheet" href="../src/exam.css">
    </head>
    <body>
    
        <div class="container">
            <div class="header">
                <h1>Quản lý thi trắc nghiệm</h1>
                <div class="menu-container">
                <div class="hamburger">&#9776;</div> 

                    <div class="menu-items">
                        <a href="index.html">Trang chủ</a>
                        <a href="introduce.html">Giới thiệu</a>
                        <a href="support.html">Liên hệ</a>
                        <a href="login.html">Đăng nhập</a></div>
                </div>
            </div>
            <div class="main">
            <div class="main1">
                <div class="menu-items1"><a href="index.html"><span class="icon">🏠</span> Trang Chủ</a></div>
                <div class="menu-items1"><a href="exam.html"><span class="icon">📝</span> Bài Thi</a></div>
                <div class="menu-items1"><a href="point.html"><span class="icon">📊</span> Điểm Thi</a></div>
                <div class="menu-items1"><a href="support.html"><span class="icon">📬</span> Liên Hệ</a></div>
                <div class="login-box"><a href="login.html">Đăng nhập</a></div>
            </div>
            <div class="line"></div>
            <div class="main2">
                <h2 style="text-align: center;">📝 Danh sách các bài thi</h2>

                    <div class="quiz-list">

                    <div class="quiz-card">
                        <h3>📘 Tin học văn phòng</h3>
                        <p>Bài thi gồm 5 câu hỏi về Word, Excel, PowerPoint cơ bản.</p>
                        <a href="exam-topic1.html" class="start-button">Làm bài</a>
                    </div>

                    <div class="quiz-card">
                        <h3>🌐 Mạng máy tính</h3>
                        <p>Kiểm tra kiến thức về mô hình OSI, giao thức TCP/IP, và thiết bị mạng.</p>
                        <a href="exam-topic2.html" class="start-button">Làm bài</a>
                    </div>

                    <div class="quiz-card">
                        <h3>💻 Cấu trúc máy tính</h3>
                        <p>Câu hỏi về CPU, bộ nhớ, bus, và hệ thống máy tính cơ bản.</p>
                        <a href="exam-topic3.html" class="start-button">Làm bài</a>
                    </div>

                    </div>

            </div>
            </div>
            <div class="footer">@2025 Websiste đơn giản</div>
            </div>
    </body>
</html>