<html>
    <head>
        <meta charset="UTF-8">
        <title>Trang chủ</title>
        <link rel="stylesheet" href="../src/layout.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Quản lý thi trắc nghiệm</h1>
                <div class="menu-container">
                    <div class="hamburger">&#9776;</div> 
                    <div class="menu-items">
                        <a href="index.html">Trang chủ</a>
                        <a href="introduce.html">Giới thiệu</a>
                        <a href="support.html">Liên hệ</a>
                        <a href="login.html">Đăng nhập</a>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="main1">
                    <div class="menu-items1"><a href="index.html"><span class="icon">🏠</span> Trang Chủ</a></div>
                    <div class="menu-items1"><a href="../user/exam.html"><span class="icon">📝</span> Bài Thi</a></div>
                    <div class="menu-items1"><a href="../user/point.html"><span class="icon">📊</span> Điểm Thi</a></div>
                    <div class="menu-items1"><a href="support.html"><span class="icon">📬</span> Liên Hệ</a></div>
                    <div class="menu-items1"><a href="setting.html"><span class="icon">⚙️</span> Cài Đặt</a></div> 
                    <div class="login-box"><a href="login.html">Đăng nhập</a></div>
                </div>
                <div class="line"></div>
                <div class="main2">
                    <h1 class="title">Chào các bạn đến với trang thi trắc nghiệm</h1>
                </div>
            </div>
            <div class="footer">@2025 Website đơn giản</div>
        </div>
    </body>
</html>
