<html>
    <head>
        <title>Trang chủ</title>
        <link rel="stylesheet" href="../src/introduce.css">
    </head>
    <body>
    
        <div class="container">
            <div class="header">
                <h1>Quản lý thi trắc nghiệm</h1>
                <div class="menu-container">
                <div class="hamburger">&#9776;</div> 

                    <div class="menu-items">
                        <a href="index.html">Trang chủ</a>
                        <a href="introduce.html">Giới thiệu</a>
                        <a href="support.html">Liên hệ</a>
                        <a href="login.html">Đăng nhập</a></div>
                </div>
            </div>
            <div class="main">
            <div class="main1">
                <div class="menu-items1"><a href="index.html"><span class="icon">🏠</span> Trang Chủ</a></div>
                <div class="menu-items1"><a href="exam.html"><span class="icon">📝</span> Bài Thi</a></div>
                <div class="menu-items1"><a href="point.html"><span class="icon">📊</span> Điểm Thi</a></div>
                <div class="menu-items1"><a href="support.html"><span class="icon">📬</span> Liên Hệ</a></div>
                <div class="login-box"><a href="login.html">Đăng nhập</a></div>
            </div>
            <div class="line"></div>
            <div class="main2">
                <p style="font-size: 30px; text-align: center; justify-content: center; height: 500px; display: flex; align-items: center;">Giới thiệu trang web quản lý thi trắc nghiệm.
                    Trang web quản lý thi trắc nghiệm là một nền tảng trực tuyến hỗ trợ tổ chức và quản lý các kỳ thi trắc nghiệm một cách hiệu quả, nhanh chóng và chính xác. Hệ thống cho phép người quản trị dễ dàng tạo lập ngân hàng câu hỏi, phân loại theo từng chủ đề, thiết lập bài thi và theo dõi kết quả của thí sinh. Giao diện thân thiện, dễ sử dụng giúp thí sinh làm bài thi trực tiếp trên web, xem kết quả ngay sau khi hoàn thành. Trang web đặc biệt phù hợp cho các đơn vị giáo dục, trung tâm đào tạo hoặc cá nhân tổ chức thi thử, kiểm tra kiến thức định kỳ.</p>
            </div>
            </div>
            <div class="footer">@2025 Websiste đơn giản</div>
            </div>
    </body>
</html>